<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autism Prediction</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            max-width: 500px;
            margin: 0 auto;
        }

        label {
            font-weight: bold;
            color: #666;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        #prediction-result {
            margin-top: 20px;
            padding: 10px;
            border-radius: 4px;
            background-color: #f5f5f5;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Autism Prediction</h1>
    <form id="prediction-form">
        
        <label>Choose the age group:</label><br>
        <input type="radio" id="toddler" name="group" value="toddler" required>
        <label for="group">Toddler</label><br>
        <input type="radio" id="adult" name="group" value="adult" required>
        <label for="group">Adult</label><br><br>
        <label for="age">Age:</label>
            <input type="number" id="age" name="age" step = "0.1" required><br><br>

        <div id="toddler-questions" style="display: none;">

            

            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="0">m</option>
                <option value="1">f</option>
            </select><br><br>
            <label for="Jaundice">Does your child had jaundice?:</label>
            <select id="Jaundice" name="Jaundice" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>

            <label for="autism">Any family history of Autism?:</label>
            <select id="autism" name="autism" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A1"> Does your child look at you when you call his/her name?:</label>
            <select id="A1" name="A1" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A2">How easy is it for you to get eye contact with your child?:</label>
            <select id="A2" name="A2" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A3">Does your child point to indicate that s/he wants something? (e.g. a toy that is 
                out of reach):</label>
            <select id="A3" name="A3" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A4">Does your child point to share interest with you? (e.g. pointing at an 
                interesting sight) :</label>
            <select id="A4" name="A4" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A5">Does your child pretend? (e.g. care for dolls, talk on a toy phone):</label>
            <select id="A5" name="A5" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A6">Does your child follow where you’re looking?:</label>
            <select id="A6" name="A6" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A7">If you or someone else in the family is visibly upset, does your child show signs 
                of warning to comfort them? (e.g. stroking hair, hugging them):</label>
            <select id="A7" name="A7" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A8">Would you describe your child’s first words as::</label>
            <select id="A8" name="A8" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A9">Does your child use simple gestures? (e.g. wave goodbye):</label>
            <select id="A9" name="A9" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A10">Does your child stare at nothing with no apparent purpose?:</label>
            <select id="A10" name="A10" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>


        </div>

        <div id="adult-questions" style="display: none;">
            
           
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="0">m</option>
                <option value="1">f</option>
            </select><br><br>
            <label for="jaundice">Did you have jaundice?:</label>
            <select id="jaundice" name="jaundice" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>

            <label for="autism">Any family history of Autism?:</label>
            <select id="autism" name="autism" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A1">I often notice small sounds when others do not:</label>
            <select id="A1" name="A1" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A2">I usually concentrate more on the whole picture, rather than the small details:</label>
            <select id="A2" name="A2" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A3">I find it easy to do more than one thing at once:</label>
            <select id="A3" name="A3" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A4">If there is an interruption, I can switch back to what I was doing very quickly:</label>
            <select id="A4" name="A4" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A5">I find it easy to ‘read between the lines’ when someone is talking to me:</label>
            <select id="A5" name="A5" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A6">I know how to tell if someone listening to me is getting bored:</label>
            <select id="A6" name="A6" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A7">When I’m reading a story I find it difficult to work out the characters’ intentions:</label>
            <select id="A7" name="A7" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A8">I like to collect information about categories of things (e.g. types of car, types of bird, types 
                of train, types of plant etc):</label>
            <select id="A8" name="A8" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A9">I find it easy to work out what someone is thinking or feeling just by looking at their 
                face :</label>
            <select id="A9" name="A9" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>
            <label for="A10">I find it difficult to work out people’s intentions :</label>
            <select id="A10" name="A10" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select><br><br>

            
        </div>

        <button type="submit">Predict</button>
    </form>

    <div id="prediction-result"></div>

    <script>
        document.getElementById("prediction-form").addEventListener("submit", function(event) {
            event.preventDefault();
                  
            const formData = new FormData(this);
            const Group = formData.get("group");
            const toddlerQuestions = document.getElementById("toddler-questions");
            const adultQuestions = document.getElementById("adult-questions");
        
            if (Group === "toddler") {
                toddlerQuestions.style.display = "block";
                adultQuestions.style.display = "none";
            } else if (Group === "adult"){
                toddlerQuestions.style.display = "none";
                adultQuestions.style.display = "block";
            }
        
            // Fetch prediction based on age group
            if (Group === "toddler") {
                fetch("/toddlerpredict", {
                    method: "POST",
                    body: JSON.stringify(Object.fromEntries(formData)),
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    const predictionResult = parseInt(data.autism_prediction);
                    if (predictionResult === 1) {
                        document.getElementById("prediction-result").innerText = "Referring to specialist diagnostic assessment.";
                    } else {
                        document.getElementById("prediction-result").innerText = "No autism detected";
                    }
                })
                .catch(error => console.error("Error:", error));
            } else if (Group === "adult") {
                fetch("/adultpredict", {
                    method: "POST",
                    body: JSON.stringify(Object.fromEntries(formData)),
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    const predictionResult = parseInt(data.autism_prediction);
                    if (predictionResult === 1) {
                        document.getElementById("prediction-result").innerText = "Referring to specialist diagnostic assessment.";
                    } else {
                        document.getElementById("prediction-result").innerText = "No autism detected";
                    }
                })
                .catch(error => console.error("Error:", error));
            }
        });

        // Show questions based on selected age group
        document.querySelectorAll('input[name="group"]').forEach((elem) => {
            elem.addEventListener("change", function(event) {
                const selectedValue = event.target.value;
                const toddlerQuestions = document.getElementById("toddler-questions");
                const adultQuestions = document.getElementById("adult-questions");

                if (selectedValue === "toddler") {
                    toddlerQuestions.style.display = "block";
                    adultQuestions.style.display = "none";
                } else if (selectedValue === "adult") {
                    toddlerQuestions.style.display = "none";
                    adultQuestions.style.display = "block";
                }
            });
        });
    </script>
</body>
</html>